<div class="container">
  <header>
    <!-- Header content -->
    <app-b-header></app-b-header>
  </header>

  <nav>
    <!-- Navigation -->
    <div>Navigation</div>
  </nav>

  <main>
    <!-- Main content -->
    <router-outlet></router-outlet>
  </main>

  <aside>
    <!-- Sidebar / Ads -->
    <div>Sidebar</div>
  </aside>

  <footer>
    <!-- Footer content -->
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
        </div>
      </nav>
   
  </footer>
</div>